h1 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
    font-size: 30px;
    color: mediumblue;
    text-align: center;
    font-family: "Montserrat", sans-serif, cursive;
    padding: 20px;
}

h3 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 300;
    text-decoration: dashed;
    text-align: center;
    margin-top: 25px;
}

.texto-negro {
    color: $color-negro;
}

.texto-blanco {
    color: $color-blanco;
    padding: auto;
    text-align: center;
}
